.progress {
  height: 10px;
  border-radius: 10px;
}

.progress,
.progress-bar {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: initial;
  border-radius: 0.25rem;
  margin-top: 5px;
}
